.card-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    height: auto;
    width: fit-content;
    background-color: #1e1e1e;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

.card-grid h2 {
    width: 100%;
}

.card {
    margin: 10px;
    background-color: #2d2d2d;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    width: calc(100% - 40px);
    max-width: 300px;
    box-sizing: border-box;
    text-align: left;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}

.image-placeholder {
    background-color: #d8d8d8;
    color: #000;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 5px;
}

.card-grid p {
    overflow: auto;
    font-size: 14px;
    line-height: 1.6;
}



@media (max-width: 768px) {
    .card-grid {
        padding: 10px;
    }

    .card {
        width: calc(100% - 20px);
    }
}

@media (max-width: 480px) {
    .card-grid {
        padding: 5px;
        height: 500px;
    }

    .card {
        width: 100%;
        margin: 5px 0;
    }
}