.education-card {
    background-color: #2d2d2d;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header h2 {
    font-size: 1.5em;
    margin: 0;
}

.header .date {
    font-size: 1em;
}

.institution {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #b0b0b0;
}

.institution p {
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
}

.education-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 100%;
    /* Adjust max-width to fit within screen */
    margin: 0 auto;
    height: fit-content;
}

/* Media Queries */
@media (max-width: 768px) {
    .education-card {
        padding: 15px;
    }

    .header h2 {
        font-size: 1.2em;
    }

    .header .date {
        font-size: 0.9em;
    }

    .institution {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .education-card {
        padding: 10px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header h2 {
        font-size: 1em;
    }

    .header .date {
        font-size: 0.8em;
    }

    .institution {
        font-size: 0.9em;
    }

    .education-list {
        padding: 10px;
    }
}